.PROD {
    background-color: yellow;
}
/*--------------------*\
   · DYNAMIC PARAM ·
\*--------------------*/
* {box-sizing: border-box;}
ul {list-style: none;}
ul, figure {margin: 0%; padding: 0%; height: 100%;}
a, .a {text-decoration: none; margin: 0%;}
img {display: block; object-fit: cover; margin: 0%; padding: 0%; max-height: 100%; max-width: 100%;}
h3 {color: white;}

/*--------------------*\
   · FLEX BOX PARAM ·
\*--------------------*/
._flex {display: flex;}
._row {flex-direction: row;}
._row-rev {flex-direction: row-reverse;}
._column {flex-direction: colum;}
._column-rev {flex-direction: column-reverse;}
._wrap {flex-wrap: wrap;}
._no-wrap {flex-wrap: nowrap}
._wrap-rev {flex-wrap: wrap-reverse}
._between {align-content: space-between; justify-content: space-between}
._around {align-content: space-around; justify-content: space-around}
._evenly {align-content: space-evenly; justify-content: space-evenly}
._center {align-content: center; justify-content: center}
._align-item-ctr {align-items: center;}

/*------------------*\
   · MARGIN PARAM ·
\*------------------*/
._mr-auto {
    margin: auto;
}

/*--------------------------------*\
   · IMPLEMENT HTML BALISE STYLE ·
\*--------------------------------*/
._-style {
    color: #cccccc;
    font-size:1px;
}
._-style-1 {
    color:#F3976C;
}
/*---------------*\
   · PICTURES ·
\*---------------*/
._logo {
    max-width: 100%;
    height: 90%;
    width: 90%;
}

/*-----------------------*\
   · LINEAR BACKGROUND ·
\*-----------------------*/
._bg-line {
    background-color: #ffffff;
    background-image: linear-gradient(0deg, #d4e8f071 0%, #d4e8f071 15%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 75%);
    background-size: 5px 5px;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}
._bg-line-y {
    background-image: linear-gradient(270deg, rgba(0,232,255,0) 0%, rgba(0,232,255,0) 25%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 85%);
    background-size: 5px 5px;
    background-repeat: repeat;
    z-index: -1;
}

/*---------------*\
   · IMAGE TEXT ·
\*---------------*/
    @font-face {
    font-family: 'Kingthings Petrock';
    font-style: normal;
    font-weight: normal;
    src: local('Kingthings Petrock'), url('../font/Kingthings_Petrock.woff') format('woff');
    }
    @font-face {
    font-family: 'Kingthings PetrockLight';
    font-style: normal;
    font-weight: normal;
    src: local('Kingthings PetrockLight'), url('../font/Kingthings_Petrock_light.woff') format('woff');
    }
._title-name {
	font-family:'Kingthings Petrock';
	font-weight:normal;
	font-size: 30px;
    color: black;
}
._portfolio-title {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #5D5E7B;
}
._text, ._text-1, ._small-text {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
	font-weight: 550;
    color: #5D5E7B;
}
._text {
    font-style: none;
    font-weight: 540;
    font-size: 22.5px;
}
._title {
    font-family: Helvetica, sans-serif;
        font-size: 24px;
        color: #5D5E7B;
}

/*---------------*\
   · SCROLL · btn-dbloc-button
\*---------------*/
._scroll-pos {
    margin-top: -13rem;
    margin-left: 85rem;
    background-color: rgba(128, 128, 128, 0.11);
    border: solid rgba(0, 0, 0, 0.048);
}
._scroll-pos:hover {
    background-color: rgba(128, 128, 128, 0.349);
    border: solid rgba(0, 0, 0, 0.048);
}